asgiref==3.9.1
colorama==0.4.6
Django==5.2.4
numpy==2.2.6
Pillow==11.3.0
pypng==0.20220715.0
pyzbar==0.1.9
qrcode==8.2
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
gunicorn
setuptools>=57.4.0
wheel>=0.45.1
build>=1.2.2.post1
